{% if item=='master' %}
CREATE DATABASE glami_{{ geo }};
CREATE DATABASE temp_{{ geo }};
CREATE USER 'glami'@'%' IDENTIFIED BY 'glami';
GRANT ALL PRIVILEGES ON glami_{{ geo }}.* TO 'glami'@'%';
GRANT ALL PRIVILEGES ON temp_{{ geo }}.* TO 'glami'@'%';
CREATE USER 'repl'@'%' IDENTIFIED BY 'repl';
GRANT REPLICATION SLAVE ON *.* TO 'repl'@'%';
FLUSH PRIVILEGES;
{% else %}
CHANGE MASTER TO MASTER_HOST='glami_{{ geo }}_master', MASTER_USER='repl', MASTER_PASSWORD='repl';
START SLAVE;
{% endif %}

