USE glami_{{ geo }};
CREATE TABLE `DataProvider` (
	`dataProviderId` int unsigned NOT NULL AUTO_INCREMENT,
	`type` enum('web','xml','sitemap','api','csv') NOT NULL,
	`homepage` varchar(255) DEFAULT NULL,
	`name` varchar(100) DEFAULT NULL,
	PRIMARY KEY (`dataProviderId`)
)
